<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/images/logo.webp" alt=""> -->
            <h1 class="sitename">RECCAP</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" {{#if home }}class="active" {{/if}}>Home</a></li>
                <li><a href="/about" {{#if about }}class="active" {{/if}}>About</a></li>
                <li><a href="/venue" {{#if venue }}class="active" {{/if}}>Venue</a></li>
                <li><a href="/team">Team</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/register">Register Now</a>

    </div>
</header>