<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url(/images/events/venue-1.webp);">
    <div class="container position-relative">
        <h1>Organizing Committee</h1>
        <p>Meet the distinguished committee members of RECCAP 2026</p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">Committee</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<section id="committee" class="terms-of-service section">
    <div class="container">
        <div class="tos-header">
            <span class="last-updated">RECCAP 2026</span>
            <h2>Organizing Committee</h2>
        </div>

        <div class="tos-content">
            <div class="content-section">
                <h3>General Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>A Seshadri Sekhar</h5>
                            <p>Director, IIT Palakkad</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Sameer S M</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>General Co-Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Gilesh M P</h5>
                            <p>GEC Thrissur</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Nafeesa K</h5>
                            <p>MESCE, Kuttippuram</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>TPC Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>S D Madhu Kumar</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Manas Kumar Jena</h5>
                            <p>IIT Palakkad</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>TPC Co-Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Rijil Ramchand</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Shihabudheen K V</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Organising Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Arun Rahul S</h5>
                            <p>IIT Palakkad</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Sreeram Manghat</h5>
                            <p>GEC Kozhikode</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Publication Chair</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Rakesh R Warier</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Publicity Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Vinita Chellappan</h5>
                            <p>GEC Palakkad</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Bindima T</h5>
                            <p>GEC Kozhikode</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Finance Committee Chair</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Sabiq P V</h5>
                            <p>KMCT CE, Kozhikode</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Tutorials & Workshops Chair</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>Deepak M</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Sponsorship Chairs</h3>
                <div class="committee-members">
                    <div class="member">
                        <div class="member-info">
                            <h5>S N Deepa</h5>
                            <p>NIT Calicut</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Shabeera T P</h5>
                            <p>GPC Kozhikode</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <h3>Advisory Committee</h3>
                <div class="committee-members tpc-grid">
                    <div class="member">
                        <div class="member-info">
                            <h5>Abraham T Mathew</h5>
                            <p>Former Professor, NIT Calicut</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>B S Manoj</h5>
                            <p>Chair, IEEE Kerala Section</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Bala Prasanna</h5>
                            <p>Director, IEEE Region 1, USA</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Debabrata Das</h5>
                            <p>Director, IIIT Bangalore</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Deepak Mathur</h5>
                            <p>Vice-President, IEEE MGA</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Jenifer Castillo</h5>
                            <p>Director, IEEE Region 9</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Lillykutty Jacob</h5>
                            <p>Principal, Amal Jyothi College of Engineering</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Mini Ulanat</h5>
                            <p>Past Chair, IEEE Kerala Section</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Mohandas K P</h5>
                            <p>Former Professor, NIT Calicut</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Muhammad Kasim</h5>
                            <p>Past Chair, IEEE Kerala Section</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Murty Polavarapu</h5>
                            <p>President, IEEE SSIT</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Nikhil P G</h5>
                            <p>National Institute of Solar Energy, Haryana</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>P Nagabhushan</h5>
                            <p>Vice Chancellor, Vignan's Foundation for Science, Technology and Research</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Preeti Bajaj</h5>
                            <p>Chair-elect, IEEE India Council</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Prerna Gaur</h5>
                            <p>Chair, IEEE India Council</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Sarada Jayakrishnan</h5>
                            <p>Past Chair, IEEE Kerala Section</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Sasi P M</h5>
                            <p>Past Chair, IEEE India Council</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Sivaji Chakravorti</h5>
                            <p>Former Director, NIT Calicut and Professor, Jadavpur University</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Suresh Nair</h5>
                            <p>Past Chair, IEEE India Council</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Tarek Lahdhiri</h5>
                            <p>Director Elect, IEEE Region 4</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Gopakumar A</h5>
                            <p>MESCE Kuttippuram</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Jayaprakash P</h5>
                            <p>Director, Directorate of Technical Education Kerala</p>
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-info">
                            <h5>Savier J S</h5>
                            <p>Sr. Joint Director, Directorate of Technical Education Kerala</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
.committee-members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.tpc-grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.member {
    background: #f8f9fa;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.member:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

.member-info {
    padding: 20px;
    border-left: 4px solid var(--accent-color);
}

.member-info h5 {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--heading-color);
    font-weight: 600;
}

.member-info p {
    margin: 0;
    color: #666;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .committee-members {
        grid-template-columns: 1fr;
    }
}
</style>
