<!-- Page Title -->
<div class="page-title dark-background" style="background-image: url(assets/img/events/showcase-9.webp);">
    <div class="container position-relative">
        <h1>Venue</h1>
        <p>Indian Institute of Technology Palakkad
        </p>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="/">Home</a></li>
                <li class="current">Venue</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->


<!-- Venue 2 Section -->
<section id="venue-2" class="venue-2 section">

    <div class="container">

        <div class="row gy-5">

            <div class="col-lg-12">
                <div class="venue-image">
                    <img src="/images/events/venue.jpg" alt="Event Venue" class="img-fluid rounded">
                    <div class="venue-badge">
                        <i class="bi bi-geo-alt-fill"></i>
                        <span>Indian Institute of Technology Palakkad
                        </span>
                    </div>
                </div>
            </div>

            {{!-- <div class="col-lg-6">
                <div class="venue-features">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="bi bi-people-fill"></i>
                                <span>Modern Auditorium & Seminar Halls</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="bi bi-wifi"></i>
                                <span>High-Speed WiFi</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="bi bi-universal-access"></i>
                                <span>Fully Accessible Campus</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> --}}
        </div>


        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="venue-map">
                    <h4>Venue Location</h4>
                    <div class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.393393393393!2d76.6541!3d10.7932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba85e2e2e2e2e2e%3A0x2e2e2e2e2e2e2e2e!2sIIT%20Palakkad!5e0!3m2!1sen!2sin!4v1692780000000"
                            frameborder="0" style="border:0; width:100%; height:400px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="travel-info">
                    <div class="travel-icon">
                        <i class="bi bi-airplane-fill"></i>
                    </div>
                    <h5>By Air</h5>
                    <p>The nearest airport is Coimbatore International Airport (CJB), about 60 km from IIT Palakkad.
                        Calicut
                        International Airport (CCJ) is also accessible, about 90 km away. Taxis and buses are available
                        from
                        both airports to Palakkad.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="travel-info">
                    <div class="travel-icon">
                        <i class="bi bi-train-front-fill"></i>
                    </div>
                    <h5>By Train</h5>
                    <p>Palakkad Junction (PGT) and Palakkad Town (PTJ) are the major railway stations nearby. Kanjikode
                        Railway Station is closest to the campus. Auto-rickshaws and taxis are available for last-mile
                        connectivity.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="travel-info">
                    <div class="travel-icon">
                        <i class="bi bi-car-front-fill"></i>
                    </div>
                    <h5>By Road</h5>
                    <p>IIT Palakkad is well-connected by road. National Highway 544 passes through Kanjikode. Regular
                        bus
                        services are available from Palakkad town and nearby cities. Parking is available on campus for
                        registered attendees.</p>
                </div>
            </div>
        </div>
    </div>



    {{!-- <div class="row mt-5">
        <div class="col-lg-12">
            <div class="accommodation-section" id="accommodation-section">
                <h4>Recommended Accommodations</h4>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="hotel-card">
                            <img src="assets/img/hotel/room-1.webp" alt="Hotel ATS Grand Kanjikode" class="img-fluid">
                            <div class="hotel-info">
                                <h6>Hotel ATS Grand Kanjikode</h6>
                                <div class="hotel-distance">
                                    <i class="bi bi-geo-alt"></i>
                                    <span>2 km from IIT Palakkad</span>
                                </div>
                                <div class="hotel-price">
                                    <span>Contact for rates</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="hotel-card">
                            <img src="assets/img/hotel/room-3.webp" alt="KPM Regency Palakkad" class="img-fluid">
                            <div class="hotel-info">
                                <h6>KPM Regency Palakkad</h6>
                                <div class="hotel-distance">
                                    <i class="bi bi-geo-alt"></i>
                                    <span>10 km from IIT Palakkad</span>
                                </div>
                                <div class="hotel-price">
                                    <span>Contact for rates</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="hotel-card">
                            <img src="assets/img/hotel/room-7.webp" alt="Hotel Fort Palace" class="img-fluid">
                            <div class="hotel-info">
                                <h6>Hotel Fort Palace</h6>
                                <div class="hotel-distance">
                                    <i class="bi bi-geo-alt"></i>
                                    <span>8 km from IIT Palakkad</span>
                                </div>
                                <div class="hotel-price">
                                    <span>Contact for rates</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}

</section><!-- /Venue 2 Section -->